doctype html
html
  head 
    block head
      //- below is similar to template strings
      title Natours | #{title}

      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      link(rel="icon" type="image/png" href="/img/favicon.png")
      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
      link(rel="stylesheet" href="/css/style.css")
  
  body(data-alert-message=`${alert ? alert.message : ""}` data-alert-type=`${alert ? alert.type : ""}`)
    // header
    include _header

    // content
    block content
      h1 This is the placeholder text

    // footer
    include _footer

    script(src="/js/bundle.js")
